@import 'style'
brandColor = #80ba24
linkColor = #777
hoverColor = #585858
secondColor = #4a5c66
 
font()
	font-family "pt-sans", "Helvetica-Neue", sans-serif

html
body 
	height 100%
	font()
	font-size 16px
	/* The html and body elements cannot have any padding or margin. */

body
	position relative

/*
::: Typography :::
----------------------------------------------------------*/
h1
h2
h3
h4
h5
h6
	font()
h1 
	font-size 1.5em
	margin 0.5em 0 0.8em 0
	color brandColor

h2
	font-size 1.3em
	margin 0 0 0.2em 0

h3
	font-size 1.1em
	margin 0

h4 
	font-size 1.1em
	margin 0 0 0.3em 0

a 
	color brandColor

a:hover 
	text-decoration none
	color hoverColor

/*
::: List Properties :::
----------------------------------------------------------*/
ul
ol
	margin-top 1em

ul li 
	line-height 1.2em
	margin-bottom 0.2em


/*
::: Wrapper for page content to push down footer :::
----------------------------------------------------------*/
#wrap 
	min-height: 100%
	height auto
	/* Negative indent footer by its height */
	margin 0 auto -70px
	/* Pad bottom by footer height */
	padding 87px 0 70px


/*
::: Header :::
----------------------------------------------------------*/
.page-header
	margin-top 0
	border none

/*
 ::: Navigation :::
 ----------------------------------------------------------*/ 

.navbar
	height 87px
	box-shadow: 0px 0px 2px 2px rgba(230,230,230,0.85)
	border none
	margin-bottom 0
	
.navbar-default .navbar-nav>li>a.active 
	color brandColor


.navbar-default
	background-color #fff;

.nav.navbar-nav
	margin 0 2% 0 0
	float right

.navbar-brand
	padding 10px 15px 0
	&>span
		font-size 1.6em
	&>span.icon-logo-ars
		color secondColor
		content 'ars'
	&>span.icon-logo-radar  
	&>span.icon-logo-nova
		color brandColor
	&>span.icon-logo-radar
		content 'radar'
	&>span.icon-logo-nova
		content 'nova'			
			
	h1
		margin-bottom 0.2em
		font-weight 300
		font-size 1.2em
		color hoverColor
		span:first-child
			color brandColor

.nav>li>a
	font-family "pt-sans-narrow"
	font-size 140%
	font-weight 400
	padding 15px 10px

.nav>li:last-child>a:before
	display: inline-block;
	margin-right 3px
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	content '\e092'
	color hoverColor
	font-size 70%
	vertical-align top
.nav>li:last-child>a.active:before
	color brandColor

@media screen and (max-width:900px)
	.nav>li>a
		font-size 110%  

nav.switch-page
	position absolute
	top -65px
	right 7%
	text-align center
	width 118px

.next
	padding-left 15px
.prev
	padding-right 15px   

/*
::: Link zu Presenter App :::
----------------------------------------------------------------*/
#app
	position absolute
	top 50px
	right 2.5%
	color brandColor
	font-family 'pt-sans-narrow'
	font-size 140%

#app:after
	content: "\e131";
	font-family: 'Glyphicons Halflings';
	font-size: 15px;
	padding-left: 4px;
	vertical-align: middle;


/*
::: Jumbotron on Start Page :::
----------------------------------------------------------*/
.jumbotron
	padding 0
	margin 0 0 30px 0
	background-color transparent
	.container
		padding 0
		margin 0
		text-align center
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
		h1
			font-size 4.5em
			font-weight 700
			padding: 0;
			margin:0;
			line-height: 250px  ;
			vertical-align: middle;
			span
				color #fff
			span:first-child
				color brandColor

/*
::: Main Content :::
----------------------------------------------------------*/
main
	padding 80px 0 25px 0

.container 
	width auto
	padding 0 7%
	position relative

.container:last-child 
	padding-bottom15px

#home section.container
#presenter-concepts .container
#presenter-overview .container
	max-width 800px


/*
::: Toggle View :::
---------------------------------------------------------*/
.container.toggle-carousel
.container.toggle-list
	max-width 1600px
	h1
		margin-top 0

.toggle-list
	.item
		margin-bottom 40px 
	.carousel-caption
		span
			vertical-align bottom
			span
				font-size 35%      


.btn.template
	position absolute
	top -40px
	right 7%
	background-color brandColor
	color #ffffff
.btn.template:focus
		outline 0


/*
 ::: Carousel Templates:::
 ----------------------------------------------------------*/ 
.carousel 
	padding 0

.item 
	padding 0 24px
	img
		max-width 100%
		
.carousel-caption 
	position relative
	left 0
	right 0
	text-shadow none
	bottom 0
	color #000
	text-align left
	span
		display inline-block
		float left
		color brandColor
	h3
		padding 0.5em 0
		color brandColor

.screenshot + .carousel-caption
	padding 20px
.carousel-caption>span>p
		display inline-block 

.carousel-inner>.item>img
	display block
	margin 0 auto

.carousel-control 
	width 25px

.carousel-control.left
.carousel-control.right 
	background-image none
	background-color #80ba24

.carousel-control .glyphicon-chevron-right 
	right  10%

.carousel-control .glyphicon-chevron-left 
	left  10%


/*
 ::: Sidebar Navigation :::
 ----------------------------------------------------------*/ 
.sidebar-toggle
	display inline-block
	padding 8px;
	background-color transparent;
	background-image none;
	border 1px solid transparent;
	border-radius 4px;
	border-color #ddd;
	margin-bottom 7px
	.icon-bar
		background-color #ccc
		display: block;
		width: 18px;
		height: 2px;
		margin-top 3px
		border-radius: 1px;

.category
	display block
	font-size 110%
	color brandColor
	padding 15px 0 5px 0 
.category:first-child
	padding-top 0  
 
a.list-group-item.active
a.list-group-item.active:hover
a.list-group-item.active:focus
	background-color brandColor
	border-color brandColor


@media screen and (min-width: 768px)
	.sidebar-toggle
		display none
	.list-group.collapse
		display block !important


/*
::: Footer :::
--------------------------------------------------------*/
#footer 
	height 70px
	padding 10px 24px
	background-color #f5f5f5
	border-top 1px solid #80ba24
	z-index 999

.footer-container 
	margin 0 auto
	padding0 10px
	max-width 720px
	text-align center

@media screen and (max-width: 599px)
	#footer
		height 100px
.apps
	list-style-type none
	margin 0
	padding 0
	li
		display inline-block
	li::after
		content " - "
		color brandColor
	li:last-child:after
		content ""  

/*
::: ToTop Button :::
--------------------------------------------------------*/
.to-top
	position fixed
	bottom 75px
	right 2%


/*
::: Video :::
--------------------------------------------------------*/
.video-container 
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; 
	height: 0; 
	overflow: hidden;
 
.video-container iframe
.video-container object
.video-container embed
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

img.center
	display block
	max-width 100%
	margin 0 auto
